body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background-color: green; */
    background-image: url(./red-table.jpg);
    /* background-repeat: no-repeat; */
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
}


h1{
    color: goldenrod;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 60px;
}

#msg-el{
    color: white;
    font-style: italic;
    margin: 0;
    font-size: 20px;
    margin-bottom: 20px;
}

.cards-el{
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.sum-el{
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.btn{
    background-color: goldenrod;
    width: 150px;
    color: #016f32;
    font-size: 16px;
    margin: 20px auto;
    line-height: 1.5;
    border: none;
    padding: 5px 10px;
    border-radius: 2px;
}
