:root {
    --red: red;
}

@font-face {
    font-family: grotesque; /* random name */
    src: url(); /* placeholder for font */
}

body {
    height: 100vh;
    width: 100vw;

    margin: auto;
    padding: 0;
}

.layout-container {
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 10.5fr;
    flex-direction: column;

}

.static-top-bar {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.61fr;
    flex-direction: row ;
    
}

.golden-ratio-logo {
    height: auto;
    padding: 10px;
}

.top-bar-header {
    height: auto;
    padding: 10px;
}

.navbar {
    padding: 10px;
}

.body-container {
    display: grid;
    grid-template-columns: 1fr 1.61fr;
    height: 100%;
}

.categories {
    display: flex;
    flex-direction: column;
    background-color: red;
    color: black;
    position: sticky;
    margin: 0;
    padding: 24px;
}

ul {
    list-style-type: none;
}

.main-arti {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    background-color: antiquewhite;
}


#photo-card {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    padding: 16px;
    justify-content: space-evenly;
    align-items: center;
}

#photo-card img {
    border-radius: 8px 24px;
    height: 18vh;
    width: 24vw;
}

.intro-card {
    padding: 8px;
    min-width: 10vw;
    max-width: 20vw;
}